src/main/mule/gcp-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="adbb61d0-69b0-4264-9b81-fe42f1846d6d" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="gcp-appFlow" doc:id="2a4e5875-0136-41f3-9bba-0dad2f82ec61" >
		<http:listener doc:name="Listener" doc:id="f19bef13-e98e-4763-918c-d5b180475082" config-ref="HTTP_Listener_config" path="/testgcp"/>
		<logger level="INFO" doc:name="Logger" doc:id="044f17a4-8d64-415a-a71c-4fe6592e7c9d" message="Mule GCP Request Received"/>
		<set-payload value='#["Hello You have reached a Mule app running on GCP Server, Have a great Day"]' doc:name="Set Payload" doc:id="5ce0788d-bfa0-4054-803f-9d527cc1acd7" />
		<logger level="INFO" doc:name="Logger" doc:id="546f22ad-7e60-4f34-9bf4-75376d74d665" message="Mule GCP Response Sent"/>
	</flow>
</mule>
